/**
 * This is your playground! Create all of your styling here.
 *
 * If you create your own color palette, please list out the primary/secondary/tertiary
 * colors you made for reference, along with any other design brand decisions.
  */
@font-face {
    font-family: 'poetsen_oneregular';
    src: url('poetsenone-regular-webfont.woff2') format('woff2'),
         url('poetsenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin button{
  background-color:tomato;
  border: none;
  margin:10px;
  height:40px;
  width:150px;
  color:white;
  border-radius:5%;
  transition-duration: .5s;
  @content;
}

@mixin likebutton{
  background-color: tomato;
  border:none;
  margin:10px;
  padding: 2px 25px;
  color:white;
  border-radius: 7%;
  transition-duration: .5s;
  &:active {
    background-color: #ef5439;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
  }
}

@mixin combutton{
  background-color: #84ccbe;
  border:none;
  margin:10px;
  padding: 10px 30px;
  color:white;
  border-radius: 4%;
}

@mixin image{
    max-width:100%;
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    padding: 10 10 10 10;
    -webkit-box-shadow: 0px 11px 25px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 11px 25px -2px rgba(0,0,0,0.6);
    box-shadow: 0px 11px 25px -2px rgba(0,0,0,0.6);
  }


$decortext:'poetsen_oneregular';
$breakone: 500px; //Media Breakpoint One
$breaktwo:800px; //Media Breakpoint Two
$breakthree:1500px;  //Media Breakpoint Three


 header{
   position: sticky;
   top:0;
   background: linear-gradient(to bottom, rgba(255,255,255,1) 50%, rgba(248,80,50,0) 100%);
   z-index: 10;
   margin-bottom: 40px;
 }

  header h1{
      font-family: 'poetsen_oneregular';
      text-align: center;
      margin-top: 100px;
      font-size: 4em;
      background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      @media (min-width: $breaktwo){
        font-size: 6.7em;
      }
  }

header nav{
  text-align: center;
    button{
      @include button;
        margin-bottom: 20px;
        &:hover{
        background-color: #ec8c69;
        transition-duration: .3s;
        &:active {
          background-color: #ec8c69;
          box-shadow: 0 5px #666;
          transform: translateY(5px);
        }
      }
    }
  }

  #app-main{
    display: flex;
      flex-wrap:wrap;
    justify-content: space-around;
    margin-bottom: 200px;
    @media (min-width: $breaktwo){
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
  }

  .cat-post{
  max-width: 400px;
  margin-left: 5%;
  margin-right:5%;
      @media (min-width: $breaktwo){
        margin-bottom: 100px;
        width: 600px;
      @media(min-width: $breakthree){

      }
      }
  }

.post-content{
  margin-top: 150px;
  img{
    @include image;
  }
  p{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
  }
  h2{
  color:#3f3f3f;
  font-family: $decortext;
  font-style: italic;
}
}

.content{
  padding:10px;
      background-color: #fff2ef;
      border-radius: 20px;
}

.post-social {
    font-size: 1.2em;
    font-weight: bold;
    color:#444444;
      button{
        display: inline;
    @include likebutton;
      &:hover{
      background-color: #ba3a00;
      transition-duration: .3s;
    }
  }
}

.post-comments{
    ol{
    list-style-type: none;
    margin-top:20px;
    padding-left: 0px;
  }
}

.user-name{
  font-family: $decortext;
  color:#444444;
}


textarea{
  border-radius: 20px;
  width:100%;
  margin:10px;
  @media (min-width: $breakone){
    width:100%;
  }
}

input{
  display: block;
  padding-top: 00px;
  position: absolute;
  top:80px;
  .test{
    margin-top: -10px;
  }
  @include combutton;
}

.comment-form{
  padding:0px;
  position: relative;
  align-self:flex-end;
}
